body {
    margin: 0;
    padding: 0;
    background-color: #6a0909;
    height: 100vh;
}

/* Divs do Background */
.content-container-direita {
    background-color: white;
    width: 55%;
    height: 100%;
    float: right;
    overflow-y: auto;
}

.content-container-esquerda {
    background-color: #6a0909;
    width: 45%;
    height: 100%;
    float: left;
}

/* logo */

.logo {
    color: black;
    font-family: mont;
    font-size: 14px;
    width: 100px;
    height: 20px;
    background-color: transparent;
}

.cabecalho-logo {
    display: flex;
    justify-content: left;
    margin-top: 10px;
    padding: 0 30px;
}

.imagem-logo {
    width: 280px;
    max-width: 90%;
    height: auto;
    object-fit: contain;
}

.secao {
    min-height: 100vh; /* Faz cada bloco ocupar a altura inteira da tela */
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centraliza o texto no meio da tela temporariamente */
    align-items: center;
    font-family: sans-serif;
    font-size: 24px;
}

/* Cores de marcação temporárias */

.inicio {
    background-color: white;
    color: black;
}
.azul {
    background-color: blue;
    color: white;
}
.verde {
    background-color: green;
    color: white;
}
.roxa {
    background-color: purple;
    color: white;
}

/*linha separadora*/

.separador-secao {
    border: 0;
    height: 2px;
    /* Cria um degradê que começa transparente, fica cinza no meio e termina transparente */
    background-image: linear-gradient(
        to right,
        transparent,
        #cccccc,
        transparent
    );
    margin: 0;
}

/* Estilização do Footer */

.rodape-minimalista {
    background-color: #420505; /* Vermelho mais escuro que a div da esquerda */
    color: #cccccc;
    clear: both; /* Protege contra o float das divs acima */
    padding: 15px 20px;
    font-family: Arial, sans-serif;
    font-size: 13px;

    /* Coloca tudo em linha e centralizado */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Permite quebrar linha apenas se a tela for muito estreita (ex: celular) */
    gap: 20px; /* Espaçamento padrão entre os links e textos */
}

.rodape-minimalista a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.rodape-minimalista a:hover {
    color: #ffcbcb;
    text-decoration: underline;
}

/* Um pequeno separador visual entre o copyright e os links */

.separador {
    color: #777777;
    user-select: none;
}
